.dropdown {    
  text-align: left;    
  width: 320px;
  overflow: hidden;  

  &__btn  {
    background: white;    
    font-family: inherit  ;
    color: $darkShade75;
    width: 100%;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid $darkShade25;
    border-radius: 4px;
    padding-left: 15px;

    
    &:hover {
      border: 1px solid $darkShade50;
      color: $darkShade75;
    }
   

    &::after {
      content: 'expand_more';
      font-family: 'MaterialIcons';
      font-size: $font-xlg;
    }
  }
  
  &__list {
    position: absolute;
    background-color: white;
    padding: 7px 7px 7px 15px;   
    display: block;
    border: 1px solid $darkShade50;
    border-top: none;
    border-radius: 0 0 4px 4px;
    width: 320px;
    
  }  

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7px;
  }
  
  &__close  { 
    display: none;
  }

  &__open {
    border: 1px solid $darkShade50;    
    border-radius: 4px 4px 0 0;
  }
}

